.login-page {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  // background-color: #000000;

  #tsparticles {
    position: absolute;
    z-index: 1;
    width: 100%;
  }

  form {
    margin: auto;
    display: grid;
    grid-gap: 30px;
    padding: 25px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    border-radius: 10px;
    background-color: #15192a;
    z-index: 2;

    img {
      margin: auto;
    }
  }
}
