.input-container {
  width: 100%;
  display: grid;
  grid-gap: 1rem;
  //   margin: 2rem;

  .label {
    width: fit-content;
    font-size: 2rem;
    color: white;
  }

  .error-label {
    color: red;
  }
  select {
    min-width: 200px;
    width: 90%;
    border: none;
    background-color: lightgray;
    padding: 1.5rem;
    border: none;
    border-radius: 1rem;
    outline: none;
    font-size: 1.5rem;
    margin: auto 0;
  }

  .error-msg {
    color: red;
    width: 100%;
    font-size: 1.2rem;
  }
}

.input-container-side-label {
  width: 100%;
  display: grid;
  grid-template-columns: 20rem auto;

  .label {
    width: fit-content;
    height: fit-content;
    font-size: 2rem;
    color: white;
    margin: auto 2rem auto 0;
  }

  .error-label {
    color: red;
  }
  select {
    min-width: 200px;
    width: 90%;
    border: none;
    background-color: lightgray;
    padding: 1.5rem;
    border: none;
    border-radius: 1rem;
    outline: none;
    font-size: 1.5rem;
    margin: auto 0;
  }

  .error-msg {
    color: red;
    width: 100%;
    font-size: 1.2rem;
  }
}

@media (max-width: 500px) {
  .input-container,
  .input-container-side-label {
    input,
    textarea,
    select {
      min-width: 0 !important;
      max-width: 100% !important;
    }
  }
}
