.instrument-history-read-edit-page {
  width: 100vw;
  // height: calc(100vh - 6rem);
  margin-top: 6rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;

  .search-container {
    padding: 2rem;
    max-width: 60rem;
    margin: 0 auto;
  }

  .search-result-container {
    height: 100%;
    width: 100%;
    // padding: 2rem;
    margin: 0 auto;
    overflow-y: auto;

    .search-result {
      max-width: 320px;
      padding: 2rem 0;
      margin: 0 auto;
      color: white;
      font-size: 2rem;
      text-align: center;
      cursor: pointer;

      &:hover {
        background-color: lightgray;
        color: #212641;
      }
    }
  }
}
