.header {
  width: 100%;
  padding: 0 2rem;
  display: flex;
  justify-content: space-between;
  background-color: #212641;
  height: 6rem;

  .header-link {
    color: white;
    font-size: 2rem;
    margin: auto 0;
  }

  .header-content {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    width: 40rem;
  }
}
