.header {
  width: 100%;
  // padding: 0 2rem;
  display: flex;
  justify-content: space-between;
  background-color: #212641;
  height: 6rem;
  // position: fixed;
  // top: 0;
  z-index: 1;

  .header-link {
    color: white;
    font-size: 2rem;
    margin: auto 0;
  }

  .header-content {
    display: flex;

    div {
      margin: auto 2rem;
    }
  }
}

.header-shadow {
  box-shadow: 0 5px 10px black;
}
