* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: inherit;
  outline: none !important;
}

a {
  text-decoration: none !important;
  color: inherit !important;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: #15192a;
  font-family: "Roboto", sans-serif;
  color: white;
}

#root {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
