.instrument-history-new {
  margin: auto;
  // padding: 3rem 0;
  padding-bottom: 10rem;
  width: 100vw;

  form {
    width: 100vw;
    .container {
      display: grid;
      grid-gap: 2rem;
      padding: 0;
      margin: 5rem auto;
    }

    button {
      min-width: 50%;
      margin: 0 auto;
    }

    .table-container {
      width: 100%;
      overflow-x: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .label {
        width: fit-content;
        font-size: 2rem;
        color: white;
      }

      .table {
        color: white;
        width: 100%;
        min-width: fit-content;

        th {
          font-size: 2rem;
          font-weight: 100;
        }

        td {
          font-size: 1.5rem;
          color: black;
        }

        th,
        td {
          min-width: 100px;
          max-width: fit-content;
          text-align: center;
        }
      }
    }

    .flex-box {
      display: flex;
      justify-content: space-between;
    }
  }
}

@media (max-width: 500px) {
  .instrument-history-new {
    padding: 2rem 1rem !important;

    .container {
      max-width: 100% !important;
    }
  }
}
